
    <div class="send-message">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="section-heading">
              <h2>Send us a Message</h2>
            </div>
          </div>
            <div class="col-md-8">
            <div class="contact-form">
  <form   #loginform="ngForm" (ngSubmit)="loginUser()">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" [(ngModel)]="user.name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                      <fieldset>
                        <input name="password" type="password" class="form-control" id="subject" [(ngModel)]="user.password" placeholder="password" required="">
                      </fieldset>
                    </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button><br>
                      <a routerLink="/register">register ?</a>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
         
        </div>
      </div>
    </div>
