
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>bienvinue chez nous</h4>

              <h2>{{hotel.nom_hotel}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div>
              <img src="assets/images/{{hotel.image}}" alt="" class="img-fluid wc-image">
            </div>
            <br>
           
          </div>

          <div class="col-md-6">
              <p class="lead">
                   &nbsp;&nbsp; <i class="fa fa-cube"></i> {{hotel.nom_hotel}} &nbsp;&nbsp; 
              </p>

              <br>

              <p><i class="fa fa-map-marker"></i>  <strong>{{hotel.adresse_hotel}}</strong></p>

              <br>

              
              <p> {{hotel.discription}}</p>   

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptatem vero culpa rerum similique labore, nisi minus voluptatum numquam fugiat. <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit sint reiciendis quas temporibus quam maxime nulla vitae consectetur perferendis, fugiat assumenda ex dicta molestias soluta est quo totam cum?</p> 
            
          </div>
        </div>
      </div>
    </div>

   

    <div class="section">
      <div class="container">
        <div class="section-heading" style="border: 0">
          <h2>Info</h2>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
               <div class="row">
                    <div class="col-md-2 col-sm-3">
                         <p class="pjVpProductPolicyTitle">
                              <strong>Check-in</strong>
                         </p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                         <p>
                          {{hotel.checkin}}  </p>
                    </div>
               </div>
          </li>

          <li class="list-group-item">
               <div class="row">
                    <div class="col-md-2 col-sm-3">
                         <p>
                              <strong>Check-out</strong>
                         </p>
                    </div>

                    <div class="col-md-10 col-sm-9">
                         <p>
                          {{hotel.checkout}}   </p>
                    </div>
               </div>
          </li>

          <li class="list-group-item">
            <div class="row">
                 <div class="col-md-2 col-sm-3">
                      <p>
                           <strong>Prix</strong>
                      </p>
                 </div>

                 <div class="col-md-10 col-sm-9">
                      <p>
                        ${{hotel.prix}}   </p>
                 </div>
            </div>
       </li>

         
     </ul>


      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="section-heading">
              <h2>Contact Details</h2>
            </div>
            
           
      

        
         
              <p>
                <span>Name</span>

                <br>

                <strong>{{hotel.nom_hotel}}</strong>
              </p>

              <p>
                <span>Phone</span>

                <br>
                
                <strong>
                  <a href="tel:123-456-789">{{hotel.tel}}</a>
                </strong>
              </p>

              <p>
                <span>Adresse</span>

                <br>
                
                <strong>
                  <a href="mailto:john@carsales.com">{{hotel.adresse_hotel}}</a>
                </strong>
              </p>

              <p>
                <span>Email</span>

                <br>
                
                <strong>
                  <a href="mailto:john@carsales.com">{{hotel.email}}</a>
                </strong>
              </p>
            
           
            
          
          </div>
       
          <div class="col-md-10">
           

            <div  width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
          
          






              <div *ngIf="this.service.valide2" >
            
                <div class="section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-9">
          















              <app-reservation></app-reservation>

                        </div></div>
</div></div></div></div></div>

          

       
          
      </div>
                  
      </div>
     
</div>































<div *ngIf="this.service.valide1"  >

  <div class="section-heading">
    <h2>Reservation</h2>
  </div>
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">name</th>
      <th scope="col">date deb</th>
      <th scope="col">date fin</th>
      <th scope="col">telephon</th>
       <th scope="col" style="text-align: center;">Delete</th>
    </tr>
  </thead>
  <tbody>
  <!--  <tr  *ngFor="let hotel of hotels">
      
      <td>{{hotel.image}}</td>
      <td>{{hotel.nom_hotel}}</td>
      <td>{{hotel.adresse_hotel}}</td>
      <td>{{hotel.tel}}</td>
      <td>{{hotel.prix}}</td>
      <td style="text-align: center;">                <button (click) = "updatehotel(hotel.id_hotel)" class = "btn btn-info"> Update</button>
        <button (click) = "deletehotel(hotel.id_hotel)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
        <button (click) = "employeeDetails(hotel.id_hotel)" class = "btn btn-info" style="margin-left: 10px"> View</button></td>
    </tr>
  -->
  </tbody>
</table>

</div>






















<div  *ngIf="this.service.valide" >
  <div class="contact-form">
  <fieldset>
    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <button type="submit" id="form-submit" class="filled-button"(click)="connect()">pour plus de detail</button>
  </fieldset>
 </div>
</div>


