
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>€300 - €4000</h4>

              <h2>{{name}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div>
              <img src="assets/images/product-details-1-740x540.jpg" alt="" class="img-fluid wc-image">
            </div>
            <br>
            <div class="row">
              <div class="col-sm-4 col-6">
                <div>
                  <img src="assets/images/product-1-370x270.jpg" alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src="assets/images/product-2-370x270.jpg" alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src="assets/images/product-3-370x270.jpg" alt="" class="img-fluid">
                </div>
                <br>
              </div>
            </div>
          </div>

          <div class="col-md-6">
              <p class="lead">
                   <i class="fa fa-calendar"></i> Available: Spring &nbsp;&nbsp; <i class="fa fa-cube"></i> 20 nights &nbsp;&nbsp; <i class="fa fa-plane"></i> Flight included
              </p>

              <br>

              <p><i class="fa fa-map-marker"></i>  <strong>6 Regeneration Road, SE16 2NX, London</strong></p>

              <br>

              
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, delectus totam non est excepturi expedita, illum vitae vel dolore exercitationem nobis quasi dicta illo id  quas. Error commodi, modi minus. <br><br>
                Perferendis, quidem, facilis. Aspernatur alias numquam saepe deleniti dolorem quos repudiandae eaque ad eligendi quam, ratione, error minima culpa suscipit nostrum magni omnis est. Suscipit dolor sint aut maiores eius, id nemo, optio, quos tempora cum est quas. At recusandae obcaecati consequatur ipsa dignissimos, eius commodi qui quae exercitationem fugiat, voluptatem, nesciunt!
              </p>   

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptatem vero culpa rerum similique labore, nisi minus voluptatum numquam fugiat. <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit sint reiciendis quas temporibus quam maxime nulla vitae consectetur perferendis, fugiat assumenda ex dicta molestias soluta est quo totam cum?</p> 
            
          </div>
        </div>
      </div>
    </div>

   

    <div class="section">
      <div class="container">
        <div class="section-heading" style="border: 0">
          <h2>Info</h2>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
               <div class="row">
                    <div class="col-md-2 col-sm-3">
                         <p class="pjVpProductPolicyTitle">
                              <strong>Check-in</strong>
                         </p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                         <p>
                              Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum.
                         </p>
                    </div>
               </div>
          </li>

          <li class="list-group-item">
               <div class="row">
                    <div class="col-md-2 col-sm-3">
                         <p>
                              <strong>Check-out</strong>
                         </p>
                    </div>

                    <div class="col-md-10 col-sm-9">
                         <p>
                              Donec dapibus semper sem, ac ultrices sem sagittis ut. Donec sit amet erat elit, sed pellentesque odio. In enim ligula, euismod a adipiscing in, laoreet quis turpis. Ut accumsan dignissim rutrum.
                         </p>
                    </div>
               </div>
          </li>

         
     </ul>


      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-18">
           

            <div width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
          
          
          
          

              <div class="section">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-9">
                        <div class="section-heading">
                          <h2>Enquiry</h2>
                        </div>
            
                        <div class="contact-form">
                          <form id="contact" action="" method="post">
                            <div class="row">
                              <div class="col-sm-6">
                                <fieldset>
                                  <input name="name" type="text" class="form-control" id="name" placeholder="Name" required="">
                                </fieldset>
                              </div>
            
                              <div class="col-sm-6">
                                <fieldset>
                                  <input name="email" type="email" class="form-control" id="email" placeholder="Email" required="">
                                </fieldset>
                              </div>
            
                              <div class="col-sm-6">
                                <fieldset>
                                  <input name="phone" type="text" class="form-control" id="phone" placeholder="Phone" required="">
                                </fieldset>
                              </div>
            
                              <div class="col-sm-3">
                                <fieldset>
                                  <input name="date1" type="text" class="form-control" id="date1" placeholder="From 16.06.2020" required="">
                                </fieldset>
                              </div>
            
                              <div class="col-sm-3">
                                <fieldset>
                                  <input name="date2" type="text" class="form-control" id="date2" placeholder="To 16.06.2020" required="">
                                </fieldset>
                              </div>
                              
                              <div class="col-lg-12">
                                <fieldset>
                                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Notes" required=""></textarea>
                                </fieldset>
                              </div>
                              <div class="col-lg-12">
                                <fieldset>
                                  <button type="submit" id="form-submit" class="filled-button">Send Request</button>
                                </fieldset>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      
          
          
          
          
          
          
          
          

          <div class="col-md-2">
            <div class="section-heading">
              <h2>Contact Details</h2>
            </div>
            
           
      

        
         
              <p>
                <span>Name</span>

                <br>

                <strong>John Smith</strong>
              </p>

              <p>
                <span>Phone</span>

                <br>
                
                <strong>
                  <a href="tel:123-456-789">123-456-789</a>
                </strong>
              </p>

              <p>
                <span>Mobile phone</span>

                <br>
                
                <strong>
                  <a href="tel:456789123">456789123</a>
                </strong>
              </p>

              <p>
                <span>Email</span>

                <br>
                
                <strong>
                  <a href="mailto:john@carsales.com">john@carsales.com</a>
                </strong>
              </p>
            


          
          </div>
      </div>
                  
           </div>
        </div>
      </div>
    </div>

