
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                  <!-- START WIDGETS -->                    
                  <div class="row">
                      <div class="col-md-3">
                          
                          <!-- START WIDGET SLIDER -->
                          <div class="widget widget-default widget-carousel">
                              <div class="owl-carousel" id="owl-example">
                                  <div>                                    
                                      <div class="widget-title">Total Visitors</div>                                                                        
                                      <div class="widget-subtitle">27/08/2014 15:23</div>
                                      <div class="widget-int">3,548</div>
                                  </div>
                                  <div>                                    
                                      <div class="widget-title">Returned</div>
                                      <div class="widget-subtitle">Visitors</div>
                                      <div class="widget-int">1,695</div>
                                  </div>
                                  <div>                                    
                                      <div class="widget-title">New</div>
                                      <div class="widget-subtitle">Visitors</div>
                                      <div class="widget-int">1,977</div>
                                  </div>
                              </div>                            
                              <div class="widget-controls">                                
                                  <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                              </div>                             
                          </div>         
                          <!-- END WIDGET SLIDER -->
                          
                      </div>
                      <div class="col-md-3">
                          
                          <!-- START WIDGET MESSAGES -->
                          <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                              <div class="widget-item-left">
                                  <span class="fa fa-envelope"></span>
                              </div>                             
                              <div class="widget-data">
                                  <div class="widget-int num-count">48</div>
                                  <div class="widget-title">New messages</div>
                                  <div class="widget-subtitle">In your mailbox</div>
                              </div>      
                              <div class="widget-controls">                                
                                  <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                              </div>
                          </div>                            
                          <!-- END WIDGET MESSAGES -->
                          
                      </div>
                      <div class="col-md-3">
                          
                          <!-- START WIDGET REGISTRED -->
                          <div class="widget widget-default widget-item-icon" onclick="location.href='pages-address-book.html';">
                              <div class="widget-item-left">
                                  <span class="fa fa-user"></span>
                              </div>
                              <div class="widget-data">
                                  <div class="widget-int num-count">375</div>
                                  <div class="widget-title">Registred users</div>
                                  <div class="widget-subtitle">On your website</div>
                              </div>
                              <div class="widget-controls">                                
                                  <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                              </div>                            
                          </div>                            
                          <!-- END WIDGET REGISTRED -->
                          
                      </div>
                      <div class="col-md-3">
                          
                          <!-- START WIDGET CLOCK -->
                          <div class="widget widget-info widget-padding-sm">
                              <div class="widget-big-int plugin-clock">00:00</div>                            
                              <div class="widget-subtitle plugin-date">Loading...</div>
                              <div class="widget-controls">                                
                                  <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
                              </div>                            
                              <div class="widget-buttons widget-c3">
                                  <div class="col">
                                      <a href="#"><span class="fa fa-clock-o"></span></a>
                                  </div>
                                  <div class="col">
                                      <a href="#"><span class="fa fa-bell"></span></a>
                                  </div>
                                  <div class="col">
                                      <a href="#"><span class="fa fa-calendar"></span></a>
                                  </div>
                              </div>                            
                          </div>                        
                          <!-- END WIDGET CLOCK -->
                          
                      </div>
                  </div>
                  <!-- END WIDGETS -->                    
                  














                     
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                  <div class="row">
                      <div class="col-md-6">
                          
                          <!-- START TIMELINE FILTER -->                            
                          <div class="panel panel-default">                                
                              <div class="panel-body">
                                  <h3>Timeline filter</h3>
                                  <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                                                              
                                      <div class="col-md-8">
                                          <div class="input-group">
                                              <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                              <input type="text" class="form-control" placeholder="Keywords"/>
                                          </div>
                                      </div>    
                                      <div class="col-md-4">
                                          <div class="input-group">
                                              <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                              <input type="text" class="form-control datepicker" value="2014-10-06"/>                                                
                                          </div>                                            
                                      </div>
                                      
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-8">
                                          <div class="btn-group btn-group-justified">  
                                              <a href="#" class="btn btn-primary active">All</a>
                                              <a href="#" class="btn btn-primary">Year</a>
                                              <a href="#" class="btn btn-primary">Month</a>
                                              <a href="#" class="btn btn-primary">Week</a>
                                          </div>                                         
                                      </div>
                                      <div class="col-md-4">
                                          <div class="pull-right">
                                              <button class="btn btn-success"><span class="fa fa-refresh"></span> UPDATE</button>
                                          </div>
                                      </div>
                                  </div>
                                  </form>
                              </div>
                          </div>
                          <!-- END TIMELINE FILTER -->
                          
                      </div>
                      <div class="col-md-6">
                          
                          <!-- START NEW RECORD -->
                          <div class="panel panel-default">
                              <div class="panel-body">
                                  <h3>What happened?</h3>
                                  <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <div class="input-group">
                                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                              <input class="form-control" placeholder="Write something"/>
                                          </div>       
                                          <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input class="form-control" placeholder="Write something"/>
                                        </div>                                                                                    
                                      </div>                                        
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <div class="btn-group pull-left">
                                              <button class="btn btn-primary"><span class="fa fa-camera"></span></button>
                                              <button class="btn btn-primary"><span class="fa fa-map-marker"></span></button>
                                              <button class="btn btn-primary"><span class="fa fa-calendar"></span></button>
                                          </div>
                                          <div class="pull-right">
                                              <button class="btn btn-danger"><span class="fa fa-share"></span> SEND</button>
                                          </div>
                                      </div>
                                  </div>
                                  </form>
                              </div>
                          </div>
                          <!-- END NEW RECORD -->
                          
                      </div>
                  </div>
                  
                  <div class="row">
                      <div class="col-md-12">
                          
                          <!-- START TIMELINE -->
                          <div class="timeline timeline-right">
                              
                              <!-- START TIMELINE ITEM -->
                              <div class="timeline-item timeline-main">
                                  <div class="timeline-date">2014</div>
                              </div>
                              <!-- END TIMELINE ITEM -->
                              
                              <!-- START TIMELINE ITEM -->
                              <div class="timeline-item timeline-item-right">
                                  <div class="timeline-item-info">Yesterday</div>
                                  <div class="timeline-item-icon"><span class="fa fa-globe"></span></div>
                                  <div class="timeline-item-content">
                                      <div class="timeline-heading">
                                          <img src="../../assets/assets/images/users/user2.jpg"/> <a href="#">John Doe</a> added article <a href="#">Lorem ipsum dolor sit amet</a>
                                      </div>
                                      <div class="timeline-body">
                                          <img src="../../assets/assets/images/gallery/nature-4.jpg" class="img-text" width="150" align="left"/>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus dolor id orci lacinia, eget aliquam velit consequat.</p>
                                          <p>Vivamus at tincidunt lectus, faucibus condimentum quam. Duis facilisis sem sed eros malesuada, vel dignissim diam ornare. Etiam rhoncus, nibh non auctor mattis, ligula diam mattis dolor, non tincidunt lectus velit nec metus. 
                                             Phasellus dictum justo vitae ornare lobortis. Integer ut lectus vel mauris tempor ultricies eget vitae turpis. Sed eleifend odio quis rutrum volutpat.</p>
                                          <ul class="list-tags">                                            
                                              <li><a href="#"><span class="fa fa-tag"></span> tempor</a></li>
                                              <li><a href="#"><span class="fa fa-tag"></span> eros</a></li>
                                              <li><a href="#"><span class="fa fa-tag"></span> suspendisse</a></li>
                                              <li><a href="#"><span class="fa fa-tag"></span> dolor</a></li>
                                          </ul>                                            
                                      </div>
                                      <div class="timeline-body comments">
                                          <div class="comment-item">
                                              <img src="../../assets/assets/images/users/user4.jpg"/>
                                              <p class="comment-head">
                                                  <a href="#">Brad Pitt</a> <span class="text-muted">@bradpitt</span>
                                              </p>
                                              <p>Awesome, man, that is awesome...</p>
                                              <small class="text-muted">10h ago</small>
                                          </div>                                            
                                          <div class="comment-write">                                                
                                              <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                          </div>
                                      </div>                                        
                                      <div class="timeline-footer">
                                          <a href="#">Read more</a>
                                          <div class="pull-right">
                                              <a href="#"><span class="fa fa-comment"></span> 35</a> 
                                              <a href="#"><span class="fa fa-share"></span></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>       
                              <!-- END TIMELINE ITEM -->
                              
                              <!-- START TIMELINE ITEM -->
                              <div class="timeline-item timeline-item-right">
                                  <div class="timeline-item-info">29 Sep 2014</div>
                                  <div class="timeline-item-icon"><span class="fa fa-image"></span></div>
                                  <div class="timeline-item-content">
                                      <div class="timeline-heading">
                                          <img src="../../assets/assets/images/users/user.jpg"/> <a href="#">Dmitry Ivaniuk</a> posted <a href="#">@Nature</a> images
                                      </div>
                                      <div class="timeline-body" id="links">                                            
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href="../../assets/assets/images/gallery/nature-1.jpg" title="Nature Image 1" data-gallery>
                                                      <img src="../../assets/assets/images/gallery/nature-1.jpg" class="img-responsive img-text"/>
                                                  </a>
                                              </div>
                                              <div class="col-md-4">
                                                  <a href="../../assets/assets/images/gallery/nature-2.jpg" title="Nature Image 2" data-gallery>
                                                      <img src="../../assets/assets/images/gallery/nature-2.jpg" class="img-responsive img-text"/>
                                                  </a>
                                              </div>
                                              <div class="col-md-4">
                                                  <a href="../../assets/assets/images/gallery/nature-3.jpg" title="Nature Image 3" data-gallery>
                                                      <img src="../../assets/assets/images/gallery/nature-3.jpg" class="img-responsive img-text"/>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="timeline-body comments">
                                          <div class="comment-item">
                                              <img src="../../assets/assets/images/users/user2.jpg"/>
                                              <p class="comment-head">
                                                  <a href="#">John Doe</a> <span class="text-muted">@johndoe</span>
                                              </p>
                                              <p>Amazing! Where did you get it?</p>
                                              <small class="text-muted">10h ago</small>
                                          </div>                                            
                                          <div class="comment-write">                                                
                                              <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                          </div>
                                      </div>                                                                                
                                  </div>
                              </div>                                
                              <!-- END TIMELINE ITEM -->
                              
                              <!-- START TIMELINE ITEM -->
                              <div class="timeline-item timeline-item-right">
                                  <div class="timeline-item-info">06 Oct 2014</div>
                                  <div class="timeline-item-icon"><span class="fa fa-star"></span></div>
                                  <div class="timeline-item-content">
                                      <div class="timeline-heading" style="padding-bottom: 10px;">
                                          <img src="../../assets/assets/images/users/user2.jpg"/> 
                                          <a href="#">John Doe</a> joined group <a href="#">Web Developers</a>
                                      </div>     
                                      <div class="timeline-body comments">
                                          <div class="comment-item">
                                              <img src="../../assets/assets/images/users/user.jpg"/>
                                              <p class="comment-head">
                                                  <a href="#">Dmitry Ivaniuk</a> <span class="text-muted">@Aqvatarius</span>
                                              </p>
                                              <p>You r welcome my friend :)</p>
                                              <small class="text-muted">5 min ago</small>
                                          </div>
                                          <div class="comment-item">
                                              <img src="../../assets/assets/images/users/user2.jpg"/>
                                              <p class="comment-head">
                                                  <a href="#">John Doe</a> <span class="text-muted">@johndoe</span>
                                              </p>
                                              <p>Thank you, Dmitry!!! ;)</p>
                                              <small class="text-muted">1 min ago / to @Aqvatarius</small>
                                          </div>
                                          <div class="comment-write">                                                
                                              <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                          </div>
                                      </div>
                                  </div>
                              </div>                                
                              <!-- END TIMELINE ITEM -->
                              
                              <!-- START TIMELINE ITEM -->
                              <div class="timeline-item timeline-item-right">
                                  <div class="timeline-item-info">5 Sep 2014</div>
                                  <div class="timeline-item-icon"><span class="fa fa-map-marker"></span></div>
                                  <div class="timeline-item-content">                                        
                                      <div class="timeline-body padding-0">
                                          <div id="google_ptm_map" style="width: 100%; height: 150px;"></div>
                                      </div>                         
                                      <div class="timeline-heading">
                                          <img src="../../assets/assets/images/users/user2.jpg"/> <a href="#">John Doe</a> invite you to <a href="#">@Event</a>
                                      </div>
                                  </div>
                              </div>
                              <!-- END TIMELINE ITEM -->
                              
                              <!-- START TIMELINE ITEM -->
                              <div class="timeline-item timeline-item-right">
                                  <div class="timeline-item-info">06 Oct 2014</div>
                                  <div class="timeline-item-icon"><span class="fa fa-users"></span></div>
                                  <div class="timeline-item-content">
                                      <div class="timeline-heading" style="padding-bottom: 10px;">
                                          <img src="../../assets/assets/images/users/user3.jpg"/>
                                          <a href="#">Nadia Ali</a> added to friends 
                                          <img src="../../assets/assets/images/users/user.jpg"/>
                                          <img src="../../assets/assets/images/users/user2.jpg"/>
                                          <img src="../../assets/assets/images/users/user4.jpg"/>
                                      </div>                                        
                                      <div class="timeline-body comments">
                                          <div class="comment-write">                                                
                                              <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                          </div>
                                      </div>                                        
                                  </div>
                              </div>                                
                              <!-- END TIMELINE ITEM -->
                              
                              <!-- START TIMELINE ITEM -->
                              <div class="timeline-item timeline-main">
                                  <div class="timeline-date">2013</div>
                              </div>
                              <!-- END TIMELINE ITEM -->
                              
                              <!-- START TIMELINE ITEM -->
                              <div class="timeline-item timeline-item-right">
                                  <div class="timeline-item-info">30 Dec 2013</div>
                                  <div class="timeline-item-icon"><span class="fa fa-user"></span></div>
                                  <div class="timeline-item-content">
                                      <div class="timeline-heading padding-bottom-0" style="padding-bottom: 10px;">
                                          <img src="../../assets/assets/images/users/user2.jpg"/>
                                          <a href="#">John Doe</a> update user image                                            
                                      </div>                                        
                                      <div class="timeline-body text-center">
                                          <img src="../../assets/assets/images/users/user2.jpg" width="100" class="img-circle img-thumbnail"/>
                                      </div>
                                      <div class="timeline-body comments">
                                          <div class="comment-write">                                                
                                              <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- END TIMELINE ITEM -->
                              
                              <!-- START TIMELINE ITEM -->
                              <div class="timeline-item timeline-main">
                                  <div class="timeline-date"><a href="#"><span class="fa fa-ellipsis-h"></span></a></div>
                              </div>                                
                              <!-- END TIMELINE ITEM -->
                          </div>
                          <!-- END TIMELINE -->
                          
                      </div>
                  </div>
                  
              </div>
              <!-- END PAGE CONTENT WRAPPER -->                       
                              
          </div>      