
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Lorem ipsum dolor sit amet</h4>
              <h2>Homme</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Featured Vacations</h2>
              <a routerLink="/hotel">view more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>

          <div class="col-md-4" *ngFor="let hotel of hotels;index as i" >

            <div class="product-item" *ngIf="i==0" >
              <a (click)="detail(hotel.id_hotel)"><img src="assets/images/{{hotel.image}}" alt=""></a>
              <div class="down-content">
                <a (click)="detail(hotel.id_hotel)"><h4>{{hotel.nom_hotel}}</h4></a>

                <h6>${{hotel.prix}}</h6>

                <p>{{hotel.discription}}</p>

              
              </div>
             </div>
             <div class="product-item" *ngIf="i==1" >
              <a (click)="detail(hotel.id_hotel)"><img src="assets/images/{{hotel.image}}" alt=""></a>
              <div class="down-content">
                <a (click)="detail(hotel.id_hotel)"><h4>{{hotel.nom_hotel}}</h4></a>

                <h6>${{hotel.prix}}</h6>

                <p>{{hotel.discription}}</p>

              
              </div>
             </div>
             <div class="product-item" *ngIf="i==2" >
              <a (click)="detail(hotel.id_hotel)"><img src="assets/images/{{hotel.image}}" alt=""></a>
              <div class="down-content">
                <a (click)="detail(hotel.id_hotel)"><h4>{{hotel.nom_hotel}}</h4></a>

                <h6>${{hotel.prix}}</h6>

                <p>{{hotel.discription}}</p>

              
              </div>
             </div>
          </div>




       
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Explicabo, esse consequatur alias repellat in excepturi inventore ad <a href="#">asperiores</a> tempora ipsa. Accusantium tenetur voluptate labore aperiam molestiae rerum excepturi minus in pariatur praesentium, corporis, aliquid dicta.</p>
              <ul class="featured-list">
                <li><a routerLink="#">Lorem ipsum dolor sit amet</a></li>
                <li><a routerLink="#">Consectetur an adipisicing elit</a></li>
                <li><a routerLink="#">It aquecorporis nulla aspernatur</a></li>
                <li><a routerLink="#">Corporis, omnis doloremque</a></li>
              </ul>
             
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/images/about-1-570x350.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services" style="background-image: url(assets/images/other-image-fullscren-1-1920x900.jpg);" >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Latest blog posts</h2>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a routerLink="#" class="services-item-image"><img src="assets/images/blog-1-370x270.jpg" class="img-fluid" alt=""></a>

            
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a routerLink="#" class="services-item-image"><img src="assets/images/blog-2-370x270.jpg" class="img-fluid" alt=""></a>

             
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a routerLink="#" class="services-item-image"><img src="assets/images/blog-3-370x270.jpg" class="img-fluid" alt=""></a>

           
            </div>
          </div>
        </div>
      </div>
    </div>


