

      


              <div class="section-heading">
                <h2>Reservée</h2>
              </div>
              <form  #reservform="ngForm" (ngSubmit)="reservationn()">
              <div class="contact-form">
             
                  <div class="row">
                    <div class="col-sm-6">
                      <fieldset>
                        <input name="name" class="form-control"  [(ngModel)]="reservation.name"id="name" placeholder="Name" required="">
                      </fieldset>
                    </div>
  
                    <div class="col-sm-6">
                      <fieldset>
                        <input name="email"  type="email" class="form-control"  [(ngModel)]="reservation.email" id="email" placeholder="Email" required="">
                      </fieldset>
                    </div>
  
                    <div class="col-sm-6">
                      <fieldset>
                        <input name="phone" type="text" class="form-control"  [(ngModel)]="reservation.tel" id="phone" placeholder="Phone" required="">
                      </fieldset>
                    </div>
  
                    <div class="col-sm-3">
                      <fieldset>
                        <input name="date1"  type="date" class="form-control"  [(ngModel)]="reservation.date_de" id="date1" placeholder="From 16.06.2020" required="">
                      </fieldset>
                    </div>
  
                    <div class="col-sm-3">
                      <fieldset>
                        <input name="date2" type="date" class="form-control"  [(ngModel)]="reservation.date_fin" id="date2" placeholder="To 16.06.2020" required="">
                      </fieldset>
                    </div>
                        
                
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="filled-button">Send Request</button>
                      </fieldset>
                    </div>
                    
                  </div>
               </div>
              </form>
          
            
            