
  <div class="login-container">
  
    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <form  class="form-horizontal"  #loginform="ngForm" (ngSubmit)="registerUser()">
        <div class="login-body">
          
            <div class="login-title"><strong>Welcome</strong>, Please login</div>
         
            <div class="form-group">
              
                <div class="col-md-12">
                  <input name="name" type="text" class="form-control" id="name" [(ngModel)]="user.name" placeholder="Full Name" required="">
                </div>
            </div>
            <div class="form-group">
              
            <div class="col-md-12">
              <input name="name" type="text" class="form-control" id="name" [(ngModel)]="user.prenom" placeholder="prenom" required="">
            </div>
        </div>  <div class="form-group">
              
          <div class="col-md-12">
            <input name="name" type="text" class="form-control" id="name" [(ngModel)]="user.adresse" placeholder="email" required="">
          </div>
      </div>
            <div class="form-group">
                <div class="col-md-12">
                  <input name="password" type="password" class="form-control" id="subject" [(ngModel)]="user.motpass" placeholder="password" required="">
                </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input name="password" type="password" class="form-control" id="subject"  placeholder="password" required="">
              </div>
          </div>
            <div class="form-group">
                <div class="col-md-6">
                    <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                </div>
                <div class="col-md-6">
                    <button  type="submit"  class="btn btn-info btn-block">Register</button>
                </div>
           
            </div>
          
        </div>
      </form>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2014 AppName
            </div>
            <div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>
        </div>
       
    </div>
   
</div>

